certifi==2024.2.2
charset-normalizer==3.3.2
docopt-ng==0.9.0
idna==3.6
pendulum==3.0.0
python-dateutil==2.9.0.post0
pytzdata==2020.1
pyvmomi==8.0.2.0.1
requests==2.31.0
six==1.16.0
time-machine==2.14.1
tzdata==2024.1
urllib3==2.2.1
